{% extends "base.html.twig" %}

{% block body %}
	<div class="container-fluid">
		<div class="row">
			{% include "_shared/_notification.html.twig" %}
			<div class="col-8">
				{% include "task/_table.html.twig" %}
			</div>
			<div id="form" class="col-4">

				{% include "task/_form.html.twig" %}
			</div>

		</div>

	</div>
{% endblock %}
